{{#if success}}
  <h4>Please check your inbox for a recovery email!</h4>
{{else}}
  <h4>Enter your email address to have a password recovery email sent to you.</h4>
{{/if}}
<form method="post">
  <label for="email">
    Email address
    <input autofocus type="email" id="email" name="email" required value="{{body.email}}" />
    <label class="error">{{error}}</label>
  </label>

  <button type="submit">Send Recovery Link</button>
</form>
